{{#section 'js'}}
<script>
  $(document).ready(function () {
    $('#register-form').on('submit', function (e) {
      e.preventDefault()

      const username = $('#username').val()
      if (username.length === 0) {
        alert("Please fill in username")
        return
      }

      const password = $('#password').val()
      if (password.length === 0) {
        alert('Please fill in password')
        return
      }

      const confirm_password = $('#confirm-password').val()
      if (confirm_password.length === 0) {
        alert('Please fill in confirm password')
        return
      }

      if (password !== confirm_password) {
        console.log('das')
        alert('Password and confirm password are not match')
        return
      }

      $.getJSON(`/account/is-available?username=${username}`, function (data) {
        if (data === false) {
          alert(`${username} is not available`)
        } else {
          $('#register-form').off('submit').submit();
        }
      })
    })
  })
</script>
{{/section}}

{{#section 'css'}}
<link rel="stylesheet" href="/public/css/vwAccount/register.css">
{{/section}}


<div class="container-fluid">
  {{#if success}}
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>Your account has been successfully created</strong>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  {{/if}}
  
  <form id="register-form" method="post">
    <div class="form-div">
      {{!-- <p class="title">LOG IN</p> --}}

      <div class="input-group">
        <label class="form-label" for="username"></label>
        <input class="input" type="text" name="username" id="username" placeholder="Username" >
        <label for="password"></label>
        <input class="input" type="password" name="password" id="password" placeholder="Password" autocomplete="on">
        <label for="confirm-password"></label>
        <input class="input" type="password" name="confirm-password" id="confirm-password"
          placeholder="Confirm password" autocomplete="on">
      </div>

      <button class="register-btn" type="submit" form="register-form">REGISTER</button>
      <div class="info_div">
        <p>Already have an account? <a href="/login">Log in</a></p>
      </div>
    </div>
  </form>
</div>