.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: #AACDAF;
    font-size: 25px;
  }

  .nav a{
     color:black;
     text-decoration: none;
  }

  .left{
    padding-left: 20px;
    font-weight: 700;
    letter-spacing: 2px;
  }

  .right{
    padding-right: 20px;
  }

  nav.navbar{
    height: 100%;
  }

  .navbar a{
    text-decoration: none;
    color: black;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 0;
    margin-bottom: 0;
    height: 100%;
  }

  .navbar a.active, .navbar a:hover{
    background-color: #71ACA9;
    border-radius: 5px;
    color:white;
  }