{{#section 'css'}}
<link rel="stylesheet" href="/public/CSS/admin/deletetopic.css">
<link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.5.2/css/fileinput.min.css"
    integrity="sha512-sHiVTDN234pgseKqjDwH39VjS9DkyffX4S00kuAWWq+FrTq7HlFjPoWbfX/QFAxkdG9i9/1ftdG2sS+XWLcJmw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

{{/section}}

<main>
    <div class="delete-container">
        <h2>{{{result.message}}}</h2>
        <a href="{{{result.backurl}}}">
            <button class="btnBack">{{{result.back}}}</button>
        </a>
    </div>
</main>