{{#section 'js'}}
<script>
  const lesson = {{{ lesson }}}
  const length = lesson.length

  $(document).ready(function() {
  const lessonList = $('.scroll-content ul');
  lesson.forEach(function(lesson) {
    const li = $('<span>').text(lesson.lessonname);
    li.on('click', function() {
      window.location.href = '/admin/lessondetail/' + lesson.lessonid;
    });
    lessonList.append(li);

    $('#lessoncount').text('Total lessons: ' + length);
  });
});
</script>
{{/section}}

{{#section 'css'}}
<link rel="stylesheet" href="/public/CSS/admin/lessonlist.css">
<link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.5.2/css/fileinput.min.css"
    integrity="sha512-sHiVTDN234pgseKqjDwH39VjS9DkyffX4S00kuAWWq+FrTq7HlFjPoWbfX/QFAxkdG9i9/1ftdG2sS+XWLcJmw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

{{/section}}


<main>
  <div class="container">
    <div id="lessonname">LESSON LIST</div>
     <div class="lessons">
      <div class="lessoncount" id="lessoncount">Total lessons: 20</div>
      <div class="custom-scrollbar">
        <div class="scroll-content">
            <ul>
            </ul>
        </div>
        </div>
    </div>

    <div class="buttongroup">
      <button type="button" class="btnBck">
          Back
      </button>
      <a href="/admin/addtopic">
      <button type="button" class="btnAdd">
          Add
      </button>
      </a>
      
    </div>
  </div>
</main>