{{#section 'css'}}
<link rel="stylesheet" href="/public/CSS/admin/topiclist.css">
<link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.5.2/css/fileinput.min.css"
    integrity="sha512-sHiVTDN234pgseKqjDwH39VjS9DkyffX4S00kuAWWq+FrTq7HlFjPoWbfX/QFAxkdG9i9/1ftdG2sS+XWLcJmw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

{{/section}}


<main>
  <div class="container">
    <div id="topicname">TOPIC LIST</div>
     <div class="topics">
      <div class="topiccount">Total topics: 20</div>
      <div class="scroll-view">
        <div class="scroll-content">
            <ul>
            <span>bucu</span>
            <span>bucu</span>
            <span>bucu</span>
            <span>bucu</span>
            <span>bucu</span>

            <span>bucu</span>
            <span>bucu</span>
            <span>bucu</span>
            <span>bucu</span>
            <span>bucu</span>

            <span>bucu</span>
            <span>bucu</span>
            <span>bucu</span>
            <span>bucu</span>
            <span>bucu</span>

            <span>bucu</span>
            <span>bucu</span>
            <span>bucu</span>
            <span>bucu</span>
            <span>bucu</span>
            </ul>
        </div>
        </div>
    </div>

    <div class="buttongroup">
      <button type="button" class="btnDel">
          Delete
      </button>
      <button type="button" class="btnEdit">
          Edit
      </button>
    </div>
  </div>
</main>