{{#section 'js'}}
<script>
  function confirmDeleteTopic() {
  const modal = $('<div class="delete-modal">');
  const container = $('<div class="delete-container">');
  const message = $('<p class="delete-message">Do you really want to delete this topic?</p>');
  const buttonContainer = $('<div class="delete-button-container">');
  const yesButton = $('<button class="delete-yes-button">Yes</button>');
  const cancelButton = $('<button class="delete-cancel-button">Cancel</button>');

  modal.append(container);
  container.append(message);
  container.append(buttonContainer);
  buttonContainer.append(yesButton);
  buttonContainer.append(cancelButton);

  modal.on('click', function(event) {
    if (event.target === modal[0]) {
      modal.remove();
    }
  });

  cancelButton.on('click', function() {
    modal.remove();
  });

  yesButton.on('click', function() {
    window.location.href = "/admin/deletetopic/" + topicdetail.topicid;
    modal.remove();
  });

  $('body').append(modal);
}
</script>
<script>
  const topicdetail = {{{topic}}}
  const wordlist = {{{word}}}
  const testlist = {{{test}}}
  
  $(document).ready(function() {
    //topic name
    $('#topicname').text(topicdetail.topicname);
    //topic avatar
    $("#avatarsrc").attr('src', topicdetail.topicavatar);
    // edit button
    $('.ava-container .btnEdit').on('click', function() {
      // create file picker
      const input = $('<input>').attr('type', 'file');
      // when file is selected
      input.on('change', function() {
        const file = this.files[0];
        // create form data
        const formData = new FormData();
        formData.append('avatar', file);
        // send post request
        $.ajax({
          type: 'POST',
          url: '/admin/topicdetail/' + topicdetail.topicid,
          data: formData,
          processData: false,
          contentType: false,
          success: function(response) {
            console.log('success');
            const reader = new FileReader();
            reader.onload = function(event) {
              // update the src attribute of the image element with the new image data URL
              $("#avatarsrc").attr('src', event.target.result);
            };
            reader.readAsDataURL(file);
          },
          error: function(error) {
            console.log(error);
          }
        });
      });
      input.trigger('click');
    });

    //test


    //word section
    if(wordlist.length == 0 || wordlist.length == 1)
      $('#wordcount').text("Total word: "+ wordlist.length);
    else
      $('#wordcount').text("Total words: "+ wordlist.length);
    //add word
    $('.word-container .btnAdd').on('click', function() {
      window.location.href = "/admin/addword/" + topicdetail.topicid;
    });
    //word table
    if(wordlist.length == 0)
        $('.word-container table').hide();
    const wordcontainer = $('table tbody')
    wordlist.forEach(function(word) {
      const row = $('<tr>')
      const name = $('<td>').text(word.wordname);
      const def = $('<td>').text(word.wordmeaning);
      const pro = $('<td>').text(word.wordpronounce);
      const editWordButton = $('<button>').attr('type', 'button').addClass('btnEditPreview').text('Edit');
      editWordButton.on('click', function() {
        window.location.href = '/admin/editWord/' + word.wordID;
      });
      const previewWordButton = $('<button>').attr('type', 'button').addClass('btnEditPreview').text('Preview');
      previewWordButton.on('click', function() {
        window.location.href = '/admin/reviewWord/' + word.wordID;
      });
      const editpreview = $('<td>')
      editpreview.append(editWordButton);
      editpreview.append(previewWordButton);
      row.append(name);
      row.append(def);
      row.append(pro);
      row.append(editpreview);
      wordcontainer.append(row);
    });

    //delete button
    $('.delete-back-container .btnDel').on('click', async function() {
      confirmDeleteTopic();
    });
    //back button
    $('.delete-back-container .btnBack').on('click', function() {
      window.location.href = '/admin/lessondetail/' + topicdetail.lessonid;
    });
});
</script>
{{/section}}

{{#section 'css'}}
<link rel="stylesheet" href="/public/CSS/admin/topicdetail.css">
<link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.5.2/css/fileinput.min.css"
    integrity="sha512-sHiVTDN234pgseKqjDwH39VjS9DkyffX4S00kuAWWq+FrTq7HlFjPoWbfX/QFAxkdG9i9/1ftdG2sS+XWLcJmw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

{{/section}}

<main>
  <div class="container">
    <div id="topicname">topicname</div>
    <div class="ava-container">
      <div class="title">Topic avatar</div>
      <img id="avatarsrc" src="/public/img/background/flashcard_background.png">
      <button type="button" class="btnEdit">
          Edit
      </button>
    </div>
    <div class="test-container">
      <div class="title">Test</div>
      <button type="button" class="btnEdit">
          Edit
      </button>
    </div>
    <div class="word-container">
      <div id="wordcount" class="title">Word count: </div>
      <button type="button" class="btnAdd">
          Add
      </button>
      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th>Word</th>
            <th>Definition</th>
            <th>Pronounce</th>
            <th>Edit/Preview</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
    <div class="delete-back-container">
      <button type="button" class="btnDel">
          Delete
      </button>
      <button type="button" class="btnBack">
          Back
      </button>
    </div>
  </div>
</main>