.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#title {
    /*background-color: #F4DF89;*/
    /*border: 1px;*/
    /*border-radius: 20px;*/
    /*padding: 30px;*/
    /*display: flex;*/
    /*justify-content: center;*/
    /*margin-bottom: 20px;*/
    /*padding-top: 30px;*/
}
.btn{
    border-color: #F4DF89;
    border-radius: 10%;
    border-width: 1px;
    background-color:#F4DF89 ;
}
.searchinput{
    border-width: 1px;
    border-color: black;

}
.categorycard{
    border-width: 2px;
    border-color: #AACDAF;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}
.row{
    width: 70%;
}
.card-footer{
    width: 70%;
}
.content{
    padding: 30px;
    display: flex;
    justify-content: space-between;
}
img{
    object-fit: fill;
    padding: 30px;
}

.card-body{
    border: 1px;
    padding-top: 0px;
}
