body {
    background-image: url("/public/img/background/flashcard_background.png");
    background-size: cover;
    background-position: center;
}
.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    background-color: blue;
    margin: auto;
    border-width: 0px;
    perspective: 1000px;
    width: 45vw;
    height: 100vh;
    background-color: rgb(62, 78, 100);

}
a:hover,a:visited,a:active,a:link{
    font-weight: bold;
    text-decoration-color: black;
    text-decoration: none;
    color:white;
    padding: 2px;
    box-shadow: 5px 7px grey;
    margin-bottom: 20px;
    margin-top: 15px;
    border-radius: 40px;
    border-width: 3px ;
    min-width: 35vw;
    min-height: 15vh;
    height: fit-content;
    width: fit-content;
    text-decoration-color: black;
    background-color: #556d8d;
}
a:hover{
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 15px;
    box-shadow: 0px 0px;
}

.ribbon {
    min-width: 60vh;
    width: fit-content;
    height: 60px;
    margin: 5vh auto;
    position: relative;
    color: black;
    font: 28px/60px cursive;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    background: #FFCB09;
    -webkit-animation: main 250ms;
    -moz-animation: main 250ms;
    -ms-animation: main 250ms;
    animation: main 250ms;
    border-radius: 2px;
}

.ribbon i {
    position: absolute;
}

.ribbon i:first-child, .ribbon i:nth-child(2) {
    position: absolute;
    left: -20px;
    bottom: -20px;
    z-index: -1;
    border: 20px solid transparent;
    border-right-color: #FF9701;

    -webkit-animation: edge 500ms;
    -moz-animation: edge 500ms;
    -ms-animation: edge 500ms;
    animation: edge 500ms;
}

.ribbon i:nth-child(2) {
    left: auto;
    right: -20px;
    border-right-color: transparent;
    border-left-color: #FF9701;
}

.ribbon i:nth-child(3), .ribbon i:last-child {
    width: 10%;
    bottom: -20px;
    left: -60px;
    z-index: -2;
    border: 30px solid #FF9701;
    border-left-color: transparent;

    -webkit-animation: back 600ms;
    -moz-animation: back 600ms;
    -ms-animation: back 600ms;
    animation: back 600ms;

    -webkit-transform-origin: 100% 0;
    -moz-transform-origin: 100% 0;
    -ms-transform-origin: 100% 0;
    transform-origin: 100% 0;
}

.ribbon i:last-child {
    bottom: -20px;
    left: auto;
    right: -60px;
    border: 30px solid #FF9701;
    border-right-color: transparent;

    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
}

@-webkit-keyframes main {
    0% { -webkit-transform: scaleX(0); }
    100% { -webkit-transform: scaleX(1); }
}

@-webkit-keyframes edge {
    0%, 50% { -webkit-transform: scaleY(0); }
    100% { -webkit-transform: scaleY(1); }
}

@-webkit-keyframes back {
    0%, 75% { -webkit-transform: scaleX(0); }
    100% { -webkit-transform: scaleX(1); }
}


@-moz-keyframes main {
    0% { -moz-transform: scaleX(0); }
    100% { -moz-transform: scaleX(1); }
}

@-moz-keyframes edge {
    0%, 50% { -moz-transform: scaleY(0); }
    100% { -moz-transform: scaleY(1); }
}

@-moz-keyframes back {
    0%, 75% { -moz-transform: scaleX(0); }
    100% { -moz-transform: scaleX(1); }
}


@keyframes main {
    0% { transform: scaleX(0); }
    100% { transform: scaleX(1); }
}

@keyframes edge {
    0%, 50% { transform: scaleY(0); }
    100% { transform: scaleY(1); }
}

@keyframes back {
    0%, 75% { transform: scaleX(0); }
    100% { transform: scaleX(1); }
}

.topiccontainer{
    width: 40vw;
    height: 70vh;
    background-color: white;
    border: 5px solid #74a12e;
    border-radius: 2.5rem;


}
.subtopiccontainer{
    width: 100%;
    height: 100%;
    padding: 20px 20px;
    overflow: hidden;
    overflow-y: scroll;
}
::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-thumb{
    background-color: transparent;
    border-radius: 20px;
}