body {
  background-image: url("/public/img/background/flashcard_background.png");
  background-size: cover;
  background-position: center;
}

.container-fluid {
  min-height: 100vh;
  perspective: 1000px;
}

.col-sm-8 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.flip-card {
  background-color: transparent;
  width: 350px;
  height: 450px;
  perspective: 1000px;
}

.flip-card:hover {
  cursor: pointer;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 5px solid #afd3d2;
  border-radius: 2.5rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.flip-card-front {
  background-color: white;
  color: black;
}

.flip-card-back {
  background-color: white;
  transform: rotateY(180deg);
  pointer-events: all; /* Allow the back face to receive events */
}

.flip-card-back * {
  pointer-events: all; /* Allow the back face to receive events */
}

.progress {
  width: 80%;
  height: 1.75rem;
  margin-top: 1.8rem;
  border-radius: 1rem;
  border: #367772 solid 2px;
  background-color: white;
}

.progress-bar {
  width: 0%;
  background: linear-gradient(to right, #AACDAF, #71ACA9);
}

.word {
  font-size: 2.5rem;
  font-weight: bold;
}

.phonetic {
  font-size: 1.2rem;
}

.meaning {
  font-size: 1.5rem;
  font-weight: bold;
}

.flashcard-img {
  width: 250px;
  height: 250px;
  padding: 1rem;
}

.example {
  font-size: 1.2rem;
}

.btn-group {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding-top: 2rem;
}

#btn-next,
#btn-back {
  background-color: #f4df89;
  border: 1px solid #f4df89;
  border-radius: 2.5rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 0.5rem;
  font-size: 1.5rem;
  font-weight: bold;
  width: 11rem;
}

#btn-speak {
  width: 5rem;
  height: 5rem;
  position: relative;
  top: 2.5rem;
  z-index: 100;
  background-color: #f4df89;
  border: 1px solid #f4df89;
  border-radius: 2.5rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 0.5rem;
  font-size: 2.5rem;
  font-weight: bold;
}

.font {
  font-family: "Sriracha"
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .flip-card {
    background-color: transparent;
    width: 250px;
    height: 350px;
    perspective: 1000px;
  }

  #btn-next,
  #btn-back {
    font-size: 1rem;
    width: 8rem;
  }

  #btn-speak {
    width: 3.5rem;
    height: 3.5rem;
    font-size: 1.5rem;
    top: 1.75rem;
  }

  .flashcard-img {
    width: 175px;
    height: 175px;
    padding: 1rem;
  }

  .example {
    font-size: 1rem;
  }
}
