body {
  background-image: url("/public/img/background/flashcard_background.png");
  background-size: cover;
  background-position: center;
}

.container-fluid {
  min-height: 100vh;
  perspective: 1000px;
}

.col-sm-8 {
  /* background-color: aliceblue; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.flip-card {
  background-color: transparent;
  width: 350px;
  height: 450px;
  perspective: 1000px;
}

.flip-card:hover {
  cursor: pointer;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 5px solid #AFD3D2;
  border-radius: 2.5rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.flip-card-front {
  background-color: white;
  color: black;
}

.flip-card-back {
  background-color: white;
  transform: rotateY(180deg);
  pointer-events: all; /* Allow the back face to receive events */
}

.flip-card-back * {
  pointer-events: all; /* Allow the back face to receive events */
}

.progress {
  width: 80%;
  height: 1.75rem;
  margin: 1.8rem 0px;
  border-radius: 1rem;
  border: #74a12e solid 2px;
  background-color: white;
}

.progress-bar {
  width: 0%;
  background: linear-gradient(to right, greenyellow, #00FF00);
}

.word {
  font-size: 2.5rem;
  font-weight: bold;
}

.phonetic {
  font-size: 1.2rem;
}

.meaning {
  font-size: 1.5rem;
  font-weight: bold;
}

.flashcard-img {
  width: 250px;
  height: 250px;
  padding: 1rem;
}

.example {
  font-size: 1.2rem;
}

.btn-group {
  display: flex;
  gap: 1rem;
  padding-top: 2rem;
}

#btn-next,
#btn-back {
  background-color: #F4DF89;
  border: 1px solid #F4DF89;
  border-radius: 2.5rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 0.5rem;
  font-size: 1.5rem;
  font-weight: bold;
  width: 12.5rem;
}

/* .font {
  font-family: sans-serif;
} */
