body {
  background-image: url("/public/img/background/flashcard_background.jpg");
  background-size: cover;
  background-position: center;
}

.flashcard-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  perspective: 1000px;
  width: 45%;
  min-height: 100vh;
  margin: auto;
  background-color: rgba(216, 216, 216, 0.5);
}

.progress {
  width: 80%;
  height: 1.75rem;
  margin: 1.8rem 0px;
  border-radius: 1rem;
  background-color: white;
}

.progress-bar {
  width: 0%;
  background: linear-gradient(to right, greenyellow, #00FF00);
}

.flipper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transform-style: preserve-3d;
  transition: 0.6s;
  height: 450px;
  width: 100%;
}

.front,
.back {
  backface-visibility: hidden;
  position: absolute;
  background-color: white;
}

.back {
  transform: rotateY(180deg);
  pointer-events: all; /* Allow the back face to receive events */
}

.back * {
  pointer-events: all; /* Allow the back face to receive events */
}

.flashcard {
  width: 60%;
  height: 90%;
  border: 5px solid #74a12e;
  border-radius: 2.5rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: flex;
  justify-content: center;
  align-items: center;
}

.flashcard:hover {
  cursor: pointer;
}

.word {
  font-size: 2.5rem;
  font-weight: bold;
}

.phonetic {
  font-size: 1.2rem;
}

.meaning {
  font-size: 1.5rem;
  font-weight: bold;
}

.flashcard-img {
  width: 100%;
  height: 100%;
  padding: 1rem;
}

.example {
  font-size: 1.2rem;
}

.center-img {
  text-align: center;
}

#btn-next,
#btn-back {
  background-color: #00FF00;
  border: 1px solid #74a12e;
  border-radius: 2.5rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 0.5rem;
  font-size: 1.5rem;
  width: 12.5rem;
}

.font {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
