body {
  background-image: url("/public/img/background/flashcard_background.png");
  background-size: cover;
  background-position: center;
}

.container-fluid {
  min-height: 100vh;
  perspective: 1000px;
}

.col-sm-8 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.flip-card {
  background-color: transparent;
  width: 350px;
  height: 450px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flip-card-front {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 5px solid #AFD3D2;
  border-radius: 2.5rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.flip-card-front {
  background-color: white;
  color: black;
}

.flashcard-img {
  width: 100%;
  height: 100%;
  padding: 1rem;
}

.btn-group {
  display: flex;
  gap: 1rem;
  padding-top: 2rem;
}

#btn-next,
#btn-back {
  background-color: #F4DF89;
  border: 1px solid #F4DF89;
  border-radius: 2.5rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 0.5rem;
  font-size: 1.5rem;
  font-weight: bold;
  width: 12.5rem;
}

#msg {
  font-size: 1.7rem;
  font-weight: bold;
}

.font {
  font-family: "Sriracha"
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .flip-card {
    background-color: transparent;
    width: 250px;
    height: 350px;
    perspective: 1000px;
  }

  #btn-next,
  #btn-back {
    background-color: #f4df89;
    border: 1px solid #f4df89;
    border-radius: 2.5rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-size: 1rem;
    font-weight: bold;
    width: 8rem;
  }

}