
#header{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    margin-bottom: 10px;
    margin-top: 30px;
}

h3{
    text-align: center;
}
h1{
    text-align: start;
}

#description{
    width: 40vw;
    margin-left: 5vw;
}

#header img{
    width: 40vw;
    height: 20vw;
    object-fit: scale-down;
    align-items: start;
    margin-right: 5vw;
}

#title {
    padding-top: 30px;
    display:flex;
    flex-direction: row;
}


#content a{
    margin-bottom: 10px;
}

.column{
    width: 50%;
    padding: 15px 10px 0;
}

#content a:hover,#content a:link,#content a:visited,#content a:active{
    text-decoration: none;
    color:black;
    margin-top: 5px;
    height: 15vh;
}
#content{
    width: 100vw;
    padding: 30px;
    display: flex;
    justify-content: space-between;
}

a.card{
    border-width: 2px;
    border-color: #AACDAF;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

.topic{
    width: 100%;
    height: 100%;
    padding-left: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;

}

a > div > img{
    object-fit: scale-down;
    max-height: 90%;
    aspect-ratio : 1 / 1;
}

@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }

    a > div > img{
        width: 40vw;
        object-fit: scale-down;
    }

    .topic{
        width: 100%;
        height: 100%;
        display: flex;
        padding-left: 0;
        flex-direction: row;
        align-items: center;
    }

}