{{#section 'js'}}
    <script>

    </script>
{{/section}}

{{#section 'css'}}
    <link rel="stylesheet" href="/public/CSS/vwLearner/topicLearnFinish.css">
{{/section}}

<div class="container">
    <p id="msg" class="p-2 m-0 text-center font">Chúc mừng bạn đã hoàn thành bài kiểm tra</p>
    <div class="flipper">
        <div class="flashcard front">
            <div class="card-body">
                <img class="img" src="/public/img/background/pepe_ok.jpg" alt="ok">
            </div>
        </div>
    </div>
    <button type="button" id="btn-next" class="font" onclick="window.location.href='/topic'">Học từ mới</button>
    <button type="button" id="btn-back" class="font">Xem lại bài kiểm tra</button>
</div>