{{#section 'css'}}
    <style>
        body {
            font: 14px/1.6em cursive;
            justify-content: center;
            background-color: #F2F2F2;
            align-content: center;
        }
        #container{
            background-color: rgba(216, 216, 216, 0.5);

        }
        a:hover, a:visited,a:active,a:link{
            font-weight: bold;
            text-decoration-color: black;
            text-decoration: none;
            color:black;
            padding: 2px;
            box-shadow: 5px 7px grey;
            margin-bottom: 20px;
            margin-top: 15px;
            border-radius: 15px;
            border-width: 3px ;
            min-width: 35vw;
            min-height: 15vh;
            height: fit-content;
            width: fit-content;
            text-decoration-color: black;
        }
        a:hover{
            font-weight: bold;
            margin-top: 20px;
            margin-bottom: 15px;
            box-shadow: 0px 0px;
            /*text-decoration-color: black;*/
        }

        .ribbon {
            width: 60%;
            height: 50%;
            margin: 5vh auto;
            position: relative;
            color: black;
            font: 28px/60px cursive;
            text-align: center;
            font-weight: bold;
            text-transform: uppercase;
            background: #FFCB09;
            -webkit-animation: main 250ms;
            -moz-animation: main 250ms;
            -ms-animation: main 250ms;
            animation: main 250ms;
            border-radius: 2px;
        }

        .ribbon i {
            position: absolute;
        }

        .ribbon i:first-child, .ribbon i:nth-child(2) {
            position: absolute;
            left: -20px;
            bottom: -20px;
            z-index: -1;
            border: 20px solid transparent;
            border-right-color: #FF9701;

            -webkit-animation: edge 500ms;
            -moz-animation: edge 500ms;
            -ms-animation: edge 500ms;
            animation: edge 500ms;
        }

        .ribbon i:nth-child(2) {
            left: auto;
            right: -20px;
            border-right-color: transparent;
            border-left-color: #FF9701;
        }

        .ribbon i:nth-child(3), .ribbon i:last-child {
            width: 10%;
            bottom: -20px;
            left: -60px;
            z-index: -2;
            border: 30px solid #FF9701;
            border-left-color: transparent;

            -webkit-animation: back 600ms;
            -moz-animation: back 600ms;
            -ms-animation: back 600ms;
            animation: back 600ms;

            -webkit-transform-origin: 100% 0;
            -moz-transform-origin: 100% 0;
            -ms-transform-origin: 100% 0;
            transform-origin: 100% 0;
        }

        .ribbon i:last-child {
            bottom: -20px;
            left: auto;
            right: -60px;
            border: 30px solid #FF9701;
            border-right-color: transparent;

            -webkit-transform-origin: 0 0;
            -moz-transform-origin: 0 0;
            -ms-transform-origin: 0 0;
            transform-origin: 0 0;
        }

        p {
            text-align: center;
            color: #aaa;
        }

        /* animations */

        @-webkit-keyframes main {
            0% { -webkit-transform: scaleX(0); }
            100% { -webkit-transform: scaleX(1); }
        }

        @-webkit-keyframes edge {
            0%, 50% { -webkit-transform: scaleY(0); }
            100% { -webkit-transform: scaleY(1); }
        }

        @-webkit-keyframes back {
            0%, 75% { -webkit-transform: scaleX(0); }
            100% { -webkit-transform: scaleX(1); }
        }


        @-moz-keyframes main {
            0% { -moz-transform: scaleX(0); }
            100% { -moz-transform: scaleX(1); }
        }

        @-moz-keyframes edge {
            0%, 50% { -moz-transform: scaleY(0); }
            100% { -moz-transform: scaleY(1); }
        }

        @-moz-keyframes back {
            0%, 75% { -moz-transform: scaleX(0); }
            100% { -moz-transform: scaleX(1); }
        }


        @keyframes main {
            0% { transform: scaleX(0); }
            100% { transform: scaleX(1); }
        }

        @keyframes edge {
            0%, 50% { transform: scaleY(0); }
            100% { transform: scaleY(1); }
        }

        @keyframes back {
            0%, 75% { transform: scaleX(0); }
            100% { transform: scaleX(1); }
        }

        p {
            text-align: center;
            color: #aaa;
        }

        .card{
            width: 40vw;
            height: 80vh;
            margin: 0px auto 0px;
            position: relative;

        }
        #fixed{
            position: fixed;
            top:0;
            width: 50vw;
            height: 25vh;
            padding-bottom: 2vh;
            justify-content: center;
            background: white;
            margin:  auto;
            z-index: 1;
        }


    </style>
{{/section}}

{{#section 'js'}}
    <script>
        window.onload = function() {
            // heightfixed = document.getElementById('fixed').offsetHeight;
            document.getElementById("under-fixed").style.paddingTop = 23+ "vh";
            // document.getElementById("under-fixed").style.marginTop = heightfixed*0.7+"px";
            screenwidth = document.innerWidth;
            // document.getElementById("fixed").style.width = 50+"vw";
            // document.getElementById("ribbon").style.width = 100+"%";


        };

    </script>
{{/section}}


<div class = "card"  style="border-width: 0px; width: 50vw; height: 100%" >
    <div id="fixed">
            <div class="ribbon">
                English Topic
                <i></i>
                <i></i>
                <i></i>
                <i></i>
            </div>
    </div>
    <div class ="card " id="under-fixed" style=" border-width: 0px; height: fit-content; " >
{{#each topic}}
        <a href="/user/topic/learn/{{TopicID}}" class="card"
{{#if isRead}}style="background-image: linear-gradient(to right, #00FF00 , #43C01B); box-shadow: 5px 7px #699e67; text-decoration-color: white;"{{/if}}
           role="button" aria-pressed="true">
            <div class="row no-gutters"  >
                <div class="col-md-4 " style="padding: 4%" >
                    <img style="width: 10vh;height: 10vh; border: 2px solid #ddd; border-radius: 50%;"
                         src="{{TopicAvatar}}"
                         alt="...">
                </div>
                <div class="col-md-8" style="justify-content: center; align-self: center">
                    <h2 >{{TopicName}} </h2>
                </div>
            </div>
        </a>
{{/each}}
    </div>
</div>
