{{#section 'css'}}
    <link rel="stylesheet" href="/public/CSS/vwLearner/topic.css">
{{/section}}

{{#section 'js'}}
    <script>
    </script>
{{/section}}

<div class ="container"   >
    <div class="ribbon">
        English Topic
        <i></i>
        <i></i>
        <i></i>
        <i></i>
    </div>
    <div class="topiccontainer">
        <div class="subtopiccontainer">
        <div>
            {{#each topic}}
                <a href="/topic/{{TopicID}}" class="card"
                    {{#if isRead}} style ="  background:linear-gradient(to right, #859c1d, #c6e82b);"
                    {{/if}}
                   role="button" aria-pressed="true">
                    <div class="row no-gutters"  >
                        <div class="col-md-4 " style="padding: 4%" >
                            <img style="width: 10vh;height: 10vh; border: 2px solid #232d3a border-radius: 50%;"
                                 src="{{TopicAvatar}}"
                                 alt="...">
                        </div>
                        <div class="col-md-8" style="justify-content: center; align-self: center">
                            <h3 >{{TopicName}} </h3>
                        </div>
                    </div>
                </a>
            {{/each}}
        </div>
        </div>
    </div>
</div>
